<div class="container">
  <h1>Let's tweet!</h1>
  <p>ENTER YO TWEET AND I'LL SEND IT</p>
  <h6><i>It's almost like you're on Twitter :3</i></h6>

  <form action="/sendtweet" method="post">
    <textarea rows="2" cols="50" autofocus required maxlength="140" name="theTweet" placeholder="Da tweet"></textarea>
    <br><br>
    <input type="submit" value="Tweet it!">
  </form>

  <div id="results">
  </div>
</div>
